net chan_clk loc=t7;
net a<0>     loc=r7;
net a<1>     loc=r15;
net a<2>     loc=r16;
net a<3>     loc=m15;
net a<4>     loc=m16;
net a<5>     loc=k15;
net a<6>     loc=k16;
net a<7>     loc=j16;
net a<8>     loc=j14;
net a<9>     loc=f15;
net a<10>    loc=f16;
net a<11>    loc=c16;
net a<12>    loc=c15;
net a<13>    loc=b16;
net a<14>    loc=b15;
net a<15>    loc=a2;
net b<0>     loc=b1;
net b<1>     loc=b2;
net b<2>     loc=e2;
net b<3>     loc=c1;
net b<4>     loc=f2;
net b<5>     loc=e1;
net b<6>     loc=h2;
net b<7>     loc=f1;
net b<8>     loc=j4;
net b<9>     loc=h1;
net b<10>    loc=m1;
net b<11>    loc=k3;
net b<12>    loc=r1;
net b<13>    loc=m2;
net b<14>    loc=t4;
net b<15>    loc=r2;

net a*       IOSTANDARD = LVTTL | SLEW=FAST | DRIVE=8;
net b*       IOSTANDARD = LVTTL | SLEW=FAST | DRIVE=8;
net chan_clk IOSTANDARD = LVTTL | SLEW=FAST | DRIVE=8;
